In [46]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
claims= pd.read_csv("claims.csv")
cust_demo = pd.read_csv("cust_demographics.csv")

In [3]:
claims

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,54004764,21868593,Driver error,11/27/2017,Auto,No,Material only,$2980,1.0,No
1,33985796,75740424,Crime,10/03/2018,Home,Unknown,Material only,$2980,3.0,No
2,53522022,30308357,Other driver error,02/02/2018,Auto,No,Material only,$3369.5,1.0,Yes
3,13015401,47830476,Natural causes,06/17/2018,Auto,No,Material only,$1680,1.0,No
4,22890252,19269962,Crime,01/13/2018,Auto,No,Material only,$2680,1.0,No
...,...,...,...,...,...,...,...,...,...,...
1095,97727122,35951012,Other driver error,06/11/2017,Auto,No,Material only,$3059,4.0,Yes
1096,10247193,14818669,Natural causes,03/14/2018,Auto,No,Material only,$1520,2.0,No
1097,79807493,85322831,Other driver error,02/09/2018,Auto,No,Material and injury,$23575,2.0,Yes
1098,69299345,73449366,Other causes,03/21/2018,Auto,Unknown,Material and injury,$25120,1.0,No
1099,58809728,43020876,Other driver error,06/04/2017,Auto,Yes,Material and injury,$36685,3.0,Yes

In [4]:
cust_demo

       CUST_ID  gender DateOfBirth State       Contact   Segment
0     21868593  Female   12-Jan-79    VT  789-916-8172  Platinum
1     75740424  Female   13-Jan-70    ME  265-543-1264    Silver
2     30308357  Female   11-Mar-84    TN  798-631-4758    Silver
3     47830476  Female   01-May-86    MA  413-187-7945    Silver
4     19269962    Male   13-May-77    NV  956-871-8691      Gold
...        ...     ...         ...   ...           ...       ...
1080  79539873  Female   15-Mar-81    ND  459-425-4319  Platinum
1081  42364152  Female   07-Jul-96    ID  529-462-1635    Silver
1082  19888166    Male   11-Apr-90    WI  712-651-9613      Gold
1083  11256802  Female   22-Oct-64    LA  469-345-5617    Silver
1084  61575264    Male   12-Jul-95    WY  182-385-1392      Gold

[1085 rows x 6 columns]

#  Q1
 Import claims_data.csv and cust_data.csv which is provided to you and 
combine the two datasets appropriately to create a 360-degree view of 
the data. Use the same for the subsequent questions.

In [6]:
table_360=pd.merge(left=claims,right=cust_demo,left_on="customer_id",right_on="CUST_ID",how="inner")

# Q2 
Perform a data audit for the datatypes and find out if there are any 
mismatch within the current datatypes of the columns and their 
business significance.

In [7]:
table_360.dtypes

claim_id                 int64
customer_id              int64
incident_cause          object
claim_date              object
claim_area              object
police_report           object
claim_type              object
claim_amount            object
total_policy_claims    float64
fraudulent              object
CUST_ID                  int64
gender                  object
DateOfBirth             object
State                   object
Contact                 object
Segment                 object
dtype: object

In [8]:
table_360["DateOfBirth"]=pd.to_datetime(table_360["DateOfBirth"])

C:\Users\PRITISH TIWARI\AppData\Local\Temp\ipykernel_18700\2680835362.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  table_360["DateOfBirth"]=pd.to_datetime(table_360["DateOfBirth"])

In [10]:
table_360["claim_date"]=pd.to_datetime(table_360["claim_date"])

In [11]:
table_360.dtypes

claim_id                        int64
customer_id                     int64
incident_cause                 object
claim_date             datetime64[ns]
claim_area                     object
police_report                  object
claim_type                     object
claim_amount                   object
total_policy_claims           float64
fraudulent                     object
CUST_ID                         int64
gender                         object
DateOfBirth            datetime64[ns]
State                          object
Contact                        object
Segment                        object
dtype: object

# Q3
 Convert the column claim_amount to numeric. Use the appropriate 
modules/attributes to remove the $ sign.

In [14]:
table_360["claim_amount"]=table_360["claim_amount"].str.replace("$","",regex=False).astype(float)

# Q4
 Of all the injury claims, some of them have gone unreported with the 
police. Create an alert flag (1,0) for all such claims.

In [21]:
table_360["alert flag"]=np.where(table_360[(table_360.claim_type == "Injury only")& (table_360.police_report == "No")],1,0)

ValueError: Length of values (60) does not match length of index (1085)

In [15]:
table_360

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment
0,54004764,21868593,Driver error,2017-11-27,Auto,No,Material only,2980.0,1.0,No,21868593,Female,1979-01-12,VT,789-916-8172,Platinum
1,33985796,75740424,Crime,2018-10-03,Home,Unknown,Material only,2980.0,3.0,No,75740424,Female,2070-01-13,ME,265-543-1264,Silver
2,53522022,30308357,Other driver error,2018-02-02,Auto,No,Material only,3369.5,1.0,Yes,30308357,Female,1984-03-11,TN,798-631-4758,Silver
3,13015401,47830476,Natural causes,2018-06-17,Auto,No,Material only,1680.0,1.0,No,47830476,Female,1986-05-01,MA,413-187-7945,Silver
4,22890252,19269962,Crime,2018-01-13,Auto,No,Material only,2680.0,1.0,No,19269962,Male,1977-05-13,NV,956-871-8691,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,62020796,79539873,Other driver error,2018-09-06,Auto,Yes,Material only,1770.0,1.0,No,79539873,Female,1981-03-15,ND,459-425-4319,Platinum
1081,63269067,42364152,Other causes,2017-05-09,Home,No,Material only,2800.0,1.0,No,42364152,Female,1996-07-07,ID,529-462-1635,Silver
1082,22690595,19888166,Other driver error,2017-05-15,Auto,Yes,Injury only,33080.0,2.0,No,19888166,Male,1990-04-11,WI,712-651-9613,Gold
1083,12376894,11256802,Other driver error,2017-04-18,Auto,No,Material only,2840.0,4.0,No,11256802,Female,2064-10-22,LA,469-345-5617,Silver
1084,63226031,61575264,Natural causes,2017-03-16,Auto,No,Material only,1490.0,1.0,No,61575264,Male,1995-07-12,WY,182-385-1392,Gold

5. One customer can claim for insurance more than once and in each claim,
multiple categories of claims can be involved. However, customer ID 
should remain unique. 
Retain the most recent observation and delete any duplicated records in
the data based on the customer ID column.

In [22]:
table_360[table_360.duplicated("customer_id")]

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment
620,78221963,84147585,Driver error,2018-04-10,Auto,Yes,Injury only,14430.0,4.0,No,84147585,Male,2072-10-18,AK,743-569-4783,Gold
621,1654201,85357756,Driver error,2018-06-23,Auto,Unknown,Material only,2510.0,1.0,No,85357756,Male,2070-01-02,PA,915-698-3649,Platinum
622,41779510,53539195,Driver error,2018-10-03,Home,No,Injury only,25040.0,1.0,No,53539195,Male,1989-10-02,NV,914-342-8239,Gold
629,63017412,30308357,Driver error,2018-04-04,Auto,No,Material only,1950.0,6.0,No,30308357,Female,1984-03-11,TN,798-631-4758,Silver
630,91609100,47830476,Natural causes,2017-04-12,Auto,Unknown,Material only,1440.0,1.0,No,47830476,Female,1986-05-01,MA,413-187-7945,Silver
631,39219616,19269962,Other causes,2018-09-26,Auto,No,Material only,2240.0,2.0,No,19269962,Male,1977-05-13,NV,956-871-8691,Gold
632,91475471,21831191,Driver error,2018-02-09,Auto,Unknown,Material and injury,36810.0,1.0,No,21831191,Male,1977-05-17,NH,419-712-8513,Gold

# Q6
 Check for missing values and impute the missing values with an 
appropriate value. (mean for continuous and mode for categorical)

In [36]:
mean = round(table_360.claim_amount.mean())
print(mean)

12468

In [37]:
table_360[table_360.claim_amount.isna() == True] = mean

C:\Users\PRITISH TIWARI\AppData\Local\Temp\ipykernel_18700\3792788660.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12468' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  table_360[table_360.claim_amount.isna() == True] = mean
C:\Users\PRITISH TIWARI\AppData\Local\Temp\ipykernel_18700\3792788660.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12468' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  table_360[table_360.claim_amount.isna() == True] = mean

In [43]:
mean2 = round(table_360.total_policy_claims.mean())
print(mean2)

755

In [44]:
table_360[table_360.total_policy_claims.isna() == True] = mean2

In [45]:
table_360.isna().any()

claim_id               False
customer_id            False
incident_cause         False
claim_date             False
claim_area             False
police_report          False
claim_type             False
claim_amount           False
total_policy_claims    False
fraudulent             False
CUST_ID                False
gender                 False
DateOfBirth            False
State                  False
Contact                False
Segment                False
dtype: bool

# Q7
 Calculate the age of customers in years. Based on the age, categorize the
customers according to the below criteria
Children < 18
Youth 18-30
Adult 30-60
Senior  > 60
8. What is the average amount claimed by the customers from various 
segments?
9. What is the total claim amount based on incident cause for all the claims
that have been done at least 20 days prior to 1st of October, 2018.
10. How many adults from TX, DE and AK claimed insurance for driver 
related issues and causes? 
11.  Draw a pie chart between the aggregated value of claim amount based 
on gender and segment. Represent the claim amount as a percentage on
the pie chart.
AnalytixLabs, Website: www.analytixlabs.co.in Email: info@analytixlabs.co.inPhone: (+91) 955.521.9007

In [56]:
table_360["age"]=(dt.datetime.now() - pd.to_datetime(table_360.DateOfBirth)).dt.days // 365.25

In [58]:
mean= round(table_360.age.mean())

In [59]:
table_360[table_360.age < 0] = mean

In [60]:
table_360

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,CUST_ID,gender,DateOfBirth,State,Contact,Segment,age
0,54004764,21868593,Driver error,2017-11-27 00:00:00,Auto,No,Material only,2980.0,1.0,No,21868593,Female,1979-01-12 00:00:00,VT,789-916-8172,Platinum,46.0
1,11,11,11,11,11,11,11,11.0,11.0,11,11,11,11,11,11,11,11.0
2,53522022,30308357,Other driver error,2018-02-02 00:00:00,Auto,No,Material only,3369.5,1.0,Yes,30308357,Female,1984-03-11 00:00:00,TN,798-631-4758,Silver,41.0
3,13015401,47830476,Natural causes,2018-06-17 00:00:00,Auto,No,Material only,1680.0,1.0,No,47830476,Female,1986-05-01 00:00:00,MA,413-187-7945,Silver,39.0
4,22890252,19269962,Crime,2018-01-13 00:00:00,Auto,No,Material only,2680.0,1.0,No,19269962,Male,1977-05-13 00:00:00,NV,956-871-8691,Gold,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,62020796,79539873,Other driver error,2018-09-06 00:00:00,Auto,Yes,Material only,1770.0,1.0,No,79539873,Female,1981-03-15 00:00:00,ND,459-425-4319,Platinum,44.0
1081,63269067,42364152,Other causes,2017-05-09 00:00:00,Home,No,Material only,2800.0,1.0,No,42364152,Female,1996-07-07 00:00:00,ID,529-462-1635,Silver,28.0
1082,22690595,19888166,Other driver error,2017-05-15 00:00:00,Auto,Yes,Injury only,33080.0,2.0,No,19888166,Male,1990-04-11 00:00:00,WI,712-651-9613,Gold,35.0
1083,11,11,11,11,11,11,11,11.0,11.0,11,11,11,11,11,11,11,11.0
1084,63226031,61575264,Natural causes,2017-03-16 00:00:00,Auto,No,Material only,1490.0,1.0,No,61575264,Male,1995-07-12 00:00:00,WY,182-385-1392,Gold,29.0